.item {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px -1px;
  border-radius: 5px;
  background-color: #fff;
}
.online {
  display: block;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 100%;
}
.offline {
  display: block;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
}
.avatar {
  padding: 5px;
  box-shadow: 0px 0px 5px -3px;
  border-radius: 5px;
}
.name {
  font-size: 18px;
  font-weight: 500;
}
